<section class="choose">
   <div class="container">
      <h2 class="choose__title title">
         Why Choosing Us
      </h2>

      <div class="choose__content">
         <div class="choose__flex-item">
            <div class="choose-item choose-item_main">
               <img src="../img/svg/icon-3.svg" alt="icon" class="choose-item__icon">
               <span class="choose-item__title">Professionalism</span>
               <div class="choose-item__text">We deliver the final work with great professional way.</div>
               <a href="#" class="choose-item__btn btn">more info</a>
            </div>
            <div class="choose-item">
               <img src="../img/svg/icon.svg" alt="icon" class="choose-item__icon">
               <span class="choose-item__title">Smooth workflow</span>
               <div class="choose-item__text">We provide the most easy smoth workflow of interior design.</div>
               <a href="#" class="choose-item__btn btn ">more info</a>
            </div>
         </div>

         <div class="choose__flex-item">
            <div class="choose-item">
               <img src="../img/svg/icon-1.svg" alt="icon" class="choose-item__icon">
               <span class="choose-item__title">Trusted Platform</span>
               <div class="choose-item__text">People trust us since we openend the company</div>
               <a href="#" class="choose-item__btn btn">more info</a>
            </div>
            <div class="choose-item">
               <img src="../img/svg/icon-2.svg" alt="icon" class="choose-item__icon">
               <span class="choose-item__title">Qualified employee</span>
               <div class="choose-item__text">Our employees are the best of the field from the city</div>
               <a href="#" class="choose-item__btn btn">more info</a>
            </div>
         </div>
      </div>
   </div>
</section>