<footer class="footer">
  <div class="container footer__container">
    <img src="../img/svg/footer-logo.svg" alt="logo" class="footer__logo">
    <div class="footer__item">
      <h3 class="footer__title">Features</h3>
      <a href="#" class="footer__link">Our Features</a>
      <a href="#" class="footer__link">Pricing</a>
      <a href="#" class="footer__link">Affiliate Program</a>
      <a href="#" class="footer__link">Press Kit</a>
    </div>
    <div class="footer__item">
      <h3 class="footer__title">Support</h3>
      <a href="#" class="footer__link">Account</a>
      <a href="#" class="footer__link">Help</a>
      <a href="#" class="footer__link">Contact Us</a>
    </div>
    <div class="footer__item">
      <h3 class="footer__title">Legal</h3>
      <a href="#" class="footer__link">Privacy Policy</a>
      <a href="#" class="footer__link">Terms of Use</a>
    </div>
    <div class="footer__item">
      <h3 class="footer__title">Social Media</h3>
      <a href="#" class="footer__link">Twitter</a>
      <a href="#" class="footer__link">Product Hunt</a>
      <a href="#" class="footer__link">Instagram</a>
      <a href="#" class="footer__link">Github</a>
    </div>
  </div>
</footer>