<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo"><img src="../img/svg/logo.svg" alt="Logo" class="header__logo"></a>
    <nav id="nav" class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link nav__link_arrow">
            Furniture
            <img src="../img/svg/arrow.svg" alt="Arrow button" class="nav__arrow">
          </a>

          <ul class="nav__submenu submenu">
            <li class="submenu__item"><a href="#" class="submenu__link">Example №1</a></li>
            <li class="submenu__item"><a href="#" class="submenu__link">Example №2</a></li>
            <li class="submenu__item"><a href="#" class="submenu__link">Example №3</a></li>
            <li class="submenu__item"><a href="#" class="submenu__link">Example №4</a></li>
          </ul>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button class="bag"><img src="../img/svg/Bag_fill.svg" alt="Bag button"></button>
      <button class="burger">
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>