<section class="hero">
   <div class="container">
      <div class="hero__content">
         <h1 class="hero__title">
            Make Your Interior More Minimaistic & Modern
         </h1>
         <p class="hero__text">
            Bringing interiors to life, understanding the person or people living in a home
            is far greater need in design
         </p>
         <input type="search" placeholder="Search Furniture" class="hero__search">
      </div>
      <div class="swiper swiper__content">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <img src="../img/image 3.png" alt="Main image" class="hero__img">
            </div>
            <div class="swiper-slide">
               <img src="../img/image 4.png" alt="Main image">
            </div>
         </div>
      </div>
   </div>
</section>