<section class="ideas">
   <div class="ideas__container container">
      <div class="ideas__content">
         <div class="ideas__title title">
            Visualize your ideas with us
         </div>
         <div class="ideas__text text">
            We are ready to help you build and also realize the room design that you dream of,
            with our experts and also the best category recommendations from us
         </div>
         <ul class="accordion">
            <li class="accordion-item">
               <button class="accordion-item__control">
                  <span class="accordion-item__title text">Modern</span>
                  <span class="accordion-item__icon"></span>
               </button>
               <div class="accordion-item__content text">
                  Modern design is a term in the design world that refers to a house with a clean design, simple color
                  choices, the use of materials including metal, glass, and steel, and is usually accompanied by clean
                  lines.
               </div>
            </li>
            <li class="accordion-item">
               <button class="accordion-item__control">
                  <span class="accordion-item__title text">Contemporary</span>
                  <span class="accordion-item__icon"></span>
               </button>
               <div class="accordion-item__content text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nemo
                  mollitia doloremque? Officiis ducimus quis, eveniet quo animi et corrupti, eos temporibus praesentium,
                  ullam incidunt quidem deleniti at modi voluptas!
               </div>
            </li>
            <li class="accordion-item">
               <button class="accordion-item__control">
                  <span class="accordion-item__title text">Minimalism</span>
                  <span class="accordion-item__icon"></span>
               </button>
               <div class="accordion-item__content text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nemo
                  mollitia doloremque? Officiis ducimus quis, eveniet quo animi et corrupti, eos temporibus praesentium,
                  ullam incidunt quidem deleniti at modi voluptas!
               </div>
            </li>
            <li class="accordion-item">
               <button class="accordion-item__control">
                  <span class="accordion-item__title text">Industrial</span>
                  <span class="accordion-item__icon"></span>
               </button>
               <div class="accordion-item__content text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nemo
                  mollitia doloremque? Officiis ducimus quis, eveniet quo animi et corrupti, eos temporibus praesentium,
                  ullam incidunt quidem deleniti at modi voluptas!
               </div>
            </li>
         </ul>
         <a href="#" class="ideas__btn btn">See more catagory</a>
      </div>

      <img src="../img/ideas.png" alt="Room image" class="ideas__img">
   </div>
</section>