<section class="product">
   <div class="product__container container">
      <h2 class="product__title title">Featured Product</h2>
      <div class="product__content">
         <div class="product__item">
            <a href="#" class="product__link"><img src="../img/chair-1.png" alt="chair" class="product__img"></a>
            <h3 class="product__name text">Product</h3>
            <span class="product__category">Category</span>
            <img src="../img/svg/rating.svg" alt="rating" class="product__rating">
            <div class="product__price">IDR 795.000</div>
         </div>

         <div class="product__item">
            <a href="#" class="product__link"><img src="../img/chair-2.png" alt="chair" class="product__img"></a>
            <h3 class="product__name text">Product</h3>
            <span class="product__category">Category</span>
            <img src="../img/svg/rating.svg" alt="rating" class="product__rating">
            <div class="product__price">IDR 595.000</div>
         </div>

         <div class="product__item">
            <a href="#" class="product__link"><img src="../img/chair-3.png" alt="chair" class="product__img"></a>
            <h3 class="product__name text">Product</h3>
            <span class="product__category">Category</span>
            <img src="../img/svg/rating.svg" alt="rating" class="product__rating">
            <div class="product__price">IDR 2.555.000</div>
         </div>

         <div class="product__item">
            <a href="#" class="product__link"><img src="../img/chair-4.png" alt="chair" class="product__img"></a>
            <h3 class="product__name text">Product</h3>
            <span class="product__category">Category</span>
            <img src="../img/svg/rating.svg" alt="rating" class="product__rating">
            <div class="product__price">IDR 1.500.000</div>
         </div>
      </div>
   </div>
</section>