<section class="reviews">
   <div class="reviews__container container">
      <h2 class="reviews__title title">What they say about our services</h2>

      <!-- Slider main container -->
      <div class="swiper">
         <!-- Additional required wrapper -->
         <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
               <div class="swiper__text-info">
                  <h3 class="swiper__title">Best planning service</h3>
                  <p class="swiper__text text">I had fantastic experience at shady rhymes with pax planner, shady rhymes
                     was so
                     helpful and friendly and went above and beyond to help me configure my perfect walk in wardobe
                     room.
                  </p>
               </div>
               <div class="swiper__person-info">
                  <img src="../img/review-image1.png" alt="Person" class="swiper__review-img">
                  <div class="swiper__person-info-flex-item">
                     <span class="swiper__review-name">John Doe</span>
                     <span class="swiper__review-job">Project manager of cupalo</span>
                  </div>
               </div>
            </div>

            <div class="swiper-slide">
               <div class="swiper__text-info">
                  <h3 class="swiper__title">Flexible and reliable</h3>
                  <p class="swiper__text text">Terrific work from beginning to end can work any angle from minimal help
                     to
                     complete project handling professional without a doubt! Love!
                  </p>
               </div>

               <div class="swiper__person-info">
                  <img src="../img/review-image2.png" alt="Person" class="swiper__review-img">
                  <div class="swiper__person-info-flex-item">
                     <span class="swiper__review-name">Woods Moniq</span>
                     <span class="swiper__review-job">Freelancer</span>
                  </div>
               </div>
            </div>

            <div class="swiper-slide">
               <div class="swiper__text-info">
                  <h3 class="swiper__title">Solution innovative</h3>
                  <p class="swiper__text text">"I loved working with Darla shady rhymes for about 2 years and highly
                     recommend
                     anyone looking for an interior designer agency who brings creativity but designs something that
                     fits
                     YOU and your style.
                  </p>
               </div>
               <div class="swiper__person-info">
                  <img src="../img/review-image3.png" alt="Person" class="swiper__review-img swiper__review-img_bd">
                  <div class="swiper__person-info-flex-item">
                     <span class="swiper__review-name">Denis Rara</span>
                     <span class="swiper__review-job">Architect at BPPLU</span>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
   </div>
   </div>
</section>