html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

body.fixed {
  position: fixed;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.title {
  font-weight: 500;
  font-size: 36px;
  color: var(--main-color);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: var(--main-color);
}

.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: var(--pink-color);
}
